<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 정보 수정</title>
</head>
<div th:replace="~{/layout/header}"></div>

<main class="form-signin w-100 m-auto">
    <form th:action="@{/user}" method="put">
        <input type="hidden" id="id" th:value="${#authentication.principal.member.id}" name="id"/>
        <h1 class="h3 mb-3 fw-normal">회원 정보 수정</h1>

        <div class="form-floating">
            <input type="text" class="form-control" id="nickName" name="nickName" th:value="${#authentication.principal.member.nickName}" placeholder="NickName" required>
            <label for="nickName">NickName</label>
        </div>
        <div class="form-floating">
            <input type="email" class="form-control" id="email" name="email" th:value="${#authentication.principal.member.email}" placeholder="Email" required>
            <label for="email">Email</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="addressCity" name="addressCity" th:value="${#authentication.principal.member.address?.city}" placeholder="City" required>
            <label for="addressCity">City</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="addressStreet" name="addressStreet" th:value="${#authentication.principal.member.address?.street}" placeholder="Street" required>
            <label for="addressStreet">Street</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="addressZipcode" name="addressZipcode" th:value="${#authentication.principal.member.address?.zipcode}" placeholder="Zipcode" required>
            <label for="addressZipcode">Zipcode</label>
        </div>
        <div th:if = "${#authentication.principal.member.provider} == null">
            <a href="/user/passwordForm" class="btn btn-warning w-100 py-2">비밀번호 수정</a>
        </div>

        <button class="btn btn-primary w-100 py-2" type="submit" id="btn-update">수정완료</button>
    </form>
</main>

<script src="/js/user.js"></script>
<div th:replace="~{/layout/footer}"></div>
