<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>비밀번호 변경</title>
</head>
<div th:replace="~{/layout/header}"></div>

<main class="form-signin w-100 m-auto">
  <form th:action="@{/user/password}" method="put">
    <input type="hidden" id="id" th:value="${#authentication.principal.member.id}" name="id"/>
    <h1 class="h3 mb-3 fw-normal">비밀번호 변경</h1>

    <!-- 현재 비밀번호 -->
    <div class="form-floating">
      <input type="password" class="form-control" id="currentPassword" name="currentPassword" placeholder="Current Password" required>
      <label for="currentPassword">현재 비밀번호</label>
    </div>

    <!-- 새 비밀번호 -->
    <div class="form-floating">
      <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="New Password" required>
      <label for="newPassword">새 비밀번호</label>
    </div>

    <!-- 비밀번호 확인 -->
    <div class="form-floating">
      <input type="password" class="form-control" id="newPasswordCheck" name="newPasswordCheck" placeholder="Confirm New Password" required>
      <label for="newPasswordCheck">비밀번호 확인</label>
    </div>

    <button class="btn btn-lg btn-primary" type="submit" id="btn-password">변경완료</button>
  </form>
</main>

<script src="/js/user.js"></script>
<div th:replace="~{/layout/footer}"></div>
