<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
</head>
<!-- header.html 템플릿 포함 -->
<div th:replace="~{/layout/header}"></div>

<div class="container">
    <!-- 제품 목록 반복 -->
    <div th:each="product : ${products.content}">
        <div class="card m-2">
            <div class="card-body">
                <h4 class="card-title" th:text="${product.title}"></h4>
                <a th:href="@{/product/{id}(id=${product.id})}" class="btn btn-primary">상세보기</a>
            </div>
        </div>
    </div>

    <!-- 페이지네이션 -->
    <ul class="pagination justify-content-center">
        <li th:classappend="${products.first} ? 'disabled'">
            <a class="page-link" th:href="@{|?page=${products.number - 1}|}">Previous</a>
        </li>
        <li th:classappend="${products.last} ? 'disabled'">
            <a class="page-link" th:href="@{|?page=${products.number + 1}|}">Next</a>
        </li>
    </ul>
</div>

<div th:replace="~{/layout/footer}"></div>

