<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>update Form</title>
</head>
<div th:replace="~{/layout/header}"></div>
<form id="update-form" th:action="@{/product/{id}(id=${products.id})}" th:object="${products}" method="post" enctype="multipart/form-data">
    <input type="hidden" id="id" th:value="${products.id}" name="id"/>
    <div class="form-group">
        <label for="title">상품명</label>
        <input type="text" class="form-control" id="title" name="productDto.title" th:value="${products.title}" required/>
    </div>
    <div class="form-group">
        <label for="description">상품 설명</label>
        <textarea class="form-control" id="description" name="productDto.description" required th:text="${products.description}"></textarea>
    </div>
    <div class="form-group">
        <label for="imageFiles">이미지 파일들</label>
        <input type="file" class="form-control" id="imageFiles" name="productDto.imageFiles" multiple required/>
    </div>

    <div th:each="item, status : *{items}" id="item-group">
        <div class="form-group">
            <input type="hidden" class="form-control" th:id="'items' + ${status.index} + '.id'" th:field="*{items[__${status.index}__].id}" required/>
        </div>
        <div class="form-group">
            <label th:for="'items' + ${status.index} + '.name'">아이템 이름</label>
            <input type="text" class="form-control" th:id="'items' + ${status.index} + '.name'" th:field="*{items[__${status.index}__].name}" required/>
        </div>
        <div class="form-group">
            <label th:for="'items' + ${status.index} + '.price'">가격</label>
            <input type="number" class="form-control" th:id="'items' + ${status.index} + '.price'" th:field="*{items[__${status.index}__].price}" required/>
        </div>
        <div class="form-group">
            <label th:for="'items' + ${status.index} + '.stock'">재고 수량</label>
            <input type="number" class="form-control" th:id="'items' + ${status.index} + '.stock'" th:field="*{items[__${status.index}__].stock}" required/>
        </div>
    </div>
</form>
<button type="button" id="add-item">아이템 추가</button>
<button class="btn btn-primary w-100 py-2" id="btn-update">상품 수정</button>

<script src="/js/item.js"></script>
<script src="/js/product.js"></script>
<div th:replace="~{/layout/footer}"></div>